<nav class="navbar">
  <div class="navbar-links">
    <span><a ui-sref="about">about</a></span>
    <span><a ui-sref="ninja">ninja</a></span>
    <span><a ui-sref="weapon">weapon</a></span>
  </div>
</nav>
