

<ninja-add save="vm.onSaveSuperData(data)" disabler="vm.option"></ninja-add>

  <div class="ninja-list" ng-repeat="ninja in vm.ninjaData">
    <span>{{ninja.name}} ma broń <span> {{ninja.weapon}}</span>
  </div>


