<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="app">
  <navbar class="navbar"></navbar>
  <div ui-view class="main-view"></div>
  <footer class="footer"></footer>
</div>
