
  <form name="vm.ninjaForm" ng-submit="vm.addNinja()">
    <input type="text" placeholder="Ninja's name" ng-if="!vm.disabler.disableContent.name" ng-model="vm.ninjaFormData.name" ng-required="true">
    <input type="text" placeholder="Ninja's weapon" ng-model="vm.ninjaFormData.weapon" ng-required="true">
    <input type="submit" value="Add New Ninja in this method">
  </form>


